.item1 { grid-area: header; }
.item2 { grid-area: text; }
.item3 { grid-area: gmt; }
.item4 { grid-area: est; }
.item5 { grid-area: pdt; }
.item6 { grid-area: jst; }
.item7 { grid-area: hst; }

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    'header'
    'text'
    'gmt'
    'est'
    'pdt'
    'jst'
    'hst';
    grid-gap: 10px;
    /*background-color: #2196F3;*/
    padding: 10px;
    margin: 0 20px;
}

.grid-container > div {
    background-color: rgba(47, 51, 138, 0.2);
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

@media (min-width: 576px)  {
    .grid-container {
        width: 540px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
    'header header'
    'text text'
    'gmt gmt'
    'est pdt'
    'jst hst';
    }
}
@media (min-width: 768px)  {
    .grid-container {
        width: 720px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
    'header header header header'
    'gmt gmt gmt text'
    'est pdt jst hst';
    }
    #message {
        font-size: 25px;
    }

}

@media (min-width: 992px)  {
    .grid-container {
        width: 920px;
    }
    .item3 h3 {
        font-size: 70px;
    }
    #message {
        font-size: 30px;
    }
}
@media (min-width: 1200px) {
    .grid-container {
        width: 1100px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
    'header header header header'
    'gmt gmt gmt text'
    'est pdt jst hst';
    }
    #message {
        font-size: 30px;
        padding-top: 20px;
    }
}
/*@media (min-width: 1400px)  {*/
/*    .grid-container {*/
/*        width: 1320px;*/
/*    }*/
/*}*/