.item1 { grid-area: header; }
.item2 { grid-area: text; }
.item3 { grid-area: gmt; }
.item4 { grid-area: est; }
.item5 { grid-area: pdt; }
.item6 { grid-area: jst; }
.item7 { grid-area: hst; }

.grid-container {
    display: grid;
    grid-template:
    'header'
    'text'
    'gmt'
    'est'
    'pdt'
    'jst'
    'hst';
    grid-gap: 10px;
    /*background-color: #2196F3;*/
    padding: 10px;
}

.grid-container > div {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    border: 1px solid gray;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

@media (min-width: 576px)  {
    .grid-container {
        width: 540px;
        grid-template:
    'header header'
    'text text'
    'gmt gmt'
    'est pdt'
    'jst hst';
    }
}
@media (min-width: 768px)  {
    .grid-container {
        width: 720px;
        grid-template:
    'header header header header'
    'gmt gmt gmt text'
    'est pdt jst hst';
    }
    .grid-container > div
}

@media (min-width: 992px)  {
    .grid-container {
        width: 960px;
    }
}
@media (min-width: 1200px) {
    .grid-container {
        width: 1140px;
        grid-template:
    'header header header header'
    'gmt gmt gmt text'
    'est pdt jst hst';
    }
}
@media (min-width: 1400px)  {
    .grid-container {
        width: 1320px;
    }
}