body {
    background: black;
    color: #fff;
    font-family: "Arial Black", sans-serif;
    display: flex;
    justify-content: center;
}
.body.night {

}
.body.morning {

}
.body.day {

}
.body.evening {

}

#message {
    color: royalblue;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 24px;
}