body {
    background: #15162c;
    color: #fff;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 20px;
    /*text-align: center;*/
    padding-bottom: 10px;
    margin-top: 10px;
    /*margin: auto;*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
}

h3 {
    /*text-align: center;*/
    margin-bottom: 10px;
    /*display: inline-block;*/
    /*vertical-align: middle;*/
}

h4 {
    font-size: 20px;
    margin-bottom: 5px;
}
/*.item2 {*/
/*    display: flex;*/
/*}*/
#graphic {
    margin-top: 20px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#graphic.night {
    background-image: url("../images/night.png");
}
#graphic.morning {
    background-image: url("../images/morning.jpg");
}
#graphic.day {
    background-image: url("../images/day.png");
}
#graphic.evening {
    background-image: url("../images/evening.png");
}

.item2 {
    padding: 0 !important;
}

#animation-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100px;
    overflow: hidden;
    border-radius: 4px;
}

#animation-wrapper.morning {
    background-color: rgb(77, 167, 243);
}
#animation-wrapper.day {
    background-color: cornflowerblue;
}
#animation-wrapper.evening {
    background-color: rgb(95, 65, 207);
}
#animation-wrapper.night {
    /*background-color: none;*/
}
#sun-moon {
    width: 25%;
    border-radius: 50%;
    position: absolute;
    left: 10%;
    top: 10%;
    z-index: 0;
    animation: 5s rise;
}
#sun-moon:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
#animation-wrapper.morning #sun-moon {
    background-color: rgb(232, 126, 78);
}
#animation-wrapper.day #sun-moon {
    background-color: yellow;
}
#animation-wrapper.evening #sun-moon {
    background-color: rgb(221, 240, 246);
}
#animation-wrapper.night #sun-moon {
    background-color: white;
}
@keyframes rise {
    0% {
        top: 100%;
    }
    100% {
        top: 10%;
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 18px;
}

@media (min-width: 576px)  {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 2.4vw;
        /*margin-top: 20px;*/
    }
    .item3 h3 {
        font-size: 60px;
    }
    .logo {
        height: 24px;
    }

}

/*@media (min-width: 576px) {*/
/*    h2 {*/
/*        font-size: 2.4vw;*/
/*        !*margin-top: 20px;*!*/
/*    }*/
/*    */
/*}*/