body {
    background: #15162c;
    color: #fff;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
}
h2 {
    font-size: 20px;
    /*text-align: center;*/
    padding-bottom: 10px;
    margin-top: 10px;
    /*margin: auto;*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
}

h3 {
    /*text-align: center;*/
    margin-bottom: 10px;
    /*display: inline-block;*/
    /*vertical-align: middle;*/
}

h4 {
    font-size: 20px;
    margin-bottom: 5px;
}
/*.item2 {*/
/*    display: flex;*/
/*}*/
#graphic {
    margin-top: 20px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#graphic.night {
    background-image: url("../images/night.png");
}
#graphic.morning {
    background-image: url("../images/morning.jpg");
}
#graphic.day {
    background-image: url("../images/day.png");
}
#graphic.evening {
    background-image: url("../images/evening.png");
}

.item2 #message {
    color: white;
    /*text-align: center;*/
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 24px;
}

/*@media (min-width: 576px) {*/
/*    h2 {*/
/*        font-size: 2.4vw;*/
/*        !*margin-top: 20px;*!*/
/*    }*/
/*    */
/*}*/